<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/layout/header.html :: fragment-header"></div>
</head>

<body>
<div th:replace="/layout/nav.html :: fragment-nav"></div>
<!--1-->
<div class="m-2"></div>
<div class="container justify-content-center">
    <h2>3. 이름이 선민우인 고객의 1번 계좌의 과거 한달간 입출금 내역을 출력하라</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>이름</th>
            <th>유형</th>
            <th>현재잔액</th>
            <th>내역</th>
            <th>거래일</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>
                <span>선민우</span>
            </td>
            <td>
                <span>MJ수퍼정기예금</span>
            </td>
            <td>
                <span>5000</span>
            </td>
            <td>
                <span>100</span>
            </td>
            <td>
                <span>2022-11-23</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>선민우</span>
            </td>
            <td>
                <span>MJ수퍼정기예금</span>
            </td>
            <td>
                <span>5000</span>
            </td>
            <td>
                <span>100</span>
            </td>
            <td>
                <span>2022-11-23</span>
            </td>
        </tr>

        <tr>
            <td>
                <span>선민우</span>
            </td>
            <td>
                <span>MJ수퍼정기예금</span>
            </td>
            <td>
                <span>5000</span>
            </td>
            <td>
                <span>100</span>
            </td>
            <td>
                <span>2022-11-23</span>
            </td>
        </tr>

        <tr>
            <td>
                <span>선민우</span>
            </td>
            <td>
                <span>MJ수퍼정기예금</span>
            </td>
            <td>
                <span>5000</span>
            </td>
            <td>
                <span>-100</span>
            </td>
            <td>
                <span>2022-11-23</span>
            </td>
        </tr>

        <tr>
            <td>
                <span>선민우</span>
            </td>
            <td>
                <span>MJ수퍼정기예금</span>
            </td>
            <td>
                <span>5000</span>
            </td>
            <td>
                <span>-100</span>
            </td>
            <td>
                <span>2022-11-23</span>
            </td>
        </tr>

        <tr>
            <td>
                <span>선민우</span>
            </td>
            <td>
                <span>MJ수퍼정기예금</span>
            </td>
            <td>
                <span>5000</span>
            </td>
            <td>
                <span>-100000</span>
            </td>
            <td>
                <span>2022-11-28</span>
            </td>
        </tr>

        <tr>
            <td>
                <span>선민우</span>
            </td>
            <td>
                <span>MJ수퍼정기예금</span>
            </td>
            <td>
                <span>5000</span>
            </td>
            <td>
                <span>10000</span>
            </td>
            <td>
                <span>2022-11-28</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>선민우</span>
            </td>
            <td>
                <span>MJ수퍼정기예금</span>
            </td>
            <td>
                <span>5000</span>
            </td>
            <td>
                <span>80000</span>
            </td>
            <td>
                <span>2022-11-28</span>
            </td>
        </tr>

        <tr>
            <td>
                <span>선민우</span>
            </td>
            <td>
                <span>MJ수퍼정기예금</span>
            </td>
            <td>
                <span>5000</span>
            </td>
            <td>
                <span>-10000</span>
            </td>
            <td>
                <span>2022-11-28</span>
            </td>
        </tr>

        <tr>
            <td>
                <span>선민우</span>
            </td>
            <td>
                <span>MJ수퍼정기예금</span>
            </td>
            <td>
                <span>5000</span>
            </td>
            <td>
                <span>10000</span>
            </td>
            <td>
                <span>2022-12-02</span>
            </td>
        </tr>

        <tr>
            <td>
                <span>선민우</span>
            </td>
            <td>
                <span>MJ수퍼정기예금</span>
            </td>
            <td>
                <span>5000</span>
            </td>
            <td>
                <span>-10000</span>
            </td>
            <td>
                <span>2022-12-02</span>
            </td>
        </tr>

        <tr>
            <td>
                <span>선민우</span>
            </td>
            <td>
                <span>MJ수퍼정기예금</span>
            </td>
            <td>
                <span>5000</span>
            </td>
            <td>
                <span>10000</span>
            </td>
            <td>
                <span>2022-12-02</span>
            </td>
        </tr>

        <tr>
            <td>
                <span>선민우</span>
            </td>
            <td>
                <span>MJ수퍼정기예금</span>
            </td>
            <td>
                <span>5000</span>
            </td>
            <td>
                <span>-7000</span>
            </td>
            <td>
                <span>2022-12-02</span>
            </td>
        </tr>

        <tr>
            <td>
                <span>선민우</span>
            </td>
            <td>
                <span>MJ수퍼정기예금</span>
            </td>
            <td>
                <span>5000</span>
            </td>
            <td>
                <span>-5000</span>
            </td>
            <td>
                <span>2022-12-02</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="/layout/footer.html :: fragment-footer"></footer>

</body>

</html>