<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragment-nav">

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="/">MJ Bank</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <div>
                <ul class="navbar-nav">
<!--                    <li class="nav-item"><a class="nav-link" href="/">로그인</a></li>-->
<!--                    <li class="nav-item"><a class="nav-link" href="/customer/joinForm">회원가입</a></li>-->
<!--                    <li class="nav-item"><a class="nav-link" href="/">내통장</a></li>-->
<!--                    <li class="nav-item"><a class="nav-link" href="/">송금</a></li>-->
<!--                    <li class="nav-item"><a class="nav-link" href="/">계좌개설</a></li>-->
<!--                    <li class="nav-item"><a class="nav-link" href="/">카드</a></li>-->
                </ul>
            </div>
        </div>


    </nav>
</div>
</html>