<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/layout/header.html :: fragment-header"></div>
</head>

<body>
<div th:replace="/layout/nav.html :: fragment-nav"></div>
<!--카드 번호로 연결 계좌 잔고 조회 폼-->
<div class="m-2"></div>
<div class="container justify-content-center">

    <form action="/card/account_balance" method="post">
        카드번호: <input type="text" name="cardNumber" />
        <button type="submit">조회</button>
    </form>
</div>

<footer th:replace="/layout/footer.html :: fragment-footer"></footer>

</body>

</html>