<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/layout/header.html :: fragment-header"></div>
</head>

<body>
<div th:replace="/layout/nav.html :: fragment-nav"></div>
<!--카드 한도 조회-->
<div class="m-2"></div>
<div class="container justify-content-center">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>한도금액</th>
        </tr>
        </thead>

        <tbody>
            <td><span th:text="${cardlimit}"></span></td>
        </tbody>
    </table>
</div>

<footer th:replace="/layout/footer.html :: fragment-footer"></footer>

</body>

</html>