<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/layout/header.html :: fragment-header"></div>
</head>

<body>
<div th:replace="/layout/nav.html :: fragment-nav"></div>
<!--특정 사용자 계좌 조회-->
<div class="m-2"></div>
<div class="container justify-content-center">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>계좌번호</th>
            <th>지점번호</th>
            <th>유형</th>
            <th>잔액</th>
            <th>카드유무</th>
            <th>개설일</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="account : ${accounts}">
            <td><span th:text="${account.accountnumber}"></span></td>
            <td><span th:text="${account.branchnumber}"></span></td>
            <td><span th:text="${account.type}"></span></td>
            <td><span th:text="${account.balance}"></span></td>
            <td><span th:text="${account.cardappstatus}"></span></td>
            <td><span th:text="${account.opendate}"></span></td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="/layout/footer.html :: fragment-footer"></footer>

</body>

</html>