<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/layout/header.html :: fragment-header"></div>
</head>

<body>
<div th:replace="/layout/nav.html :: fragment-nav"></div>
<!--출금 폼-->
<div class="m-2"></div>
<div class="container justify-content-center">

    <form action="/account/withdraw" method="post">
        출금액: <input type="text" name="withdraw" style="display: block"/>
        계좌번호: <input type="text" name="accountNumber" style="display: block"/>
        <br/>
        <button type="submit">출금</button>
    </form>
</div>

<footer th:replace="/layout/footer.html :: fragment-footer"></footer>

</body>

</html>