<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/layout/header.html :: fragment-header"></div>
</head>

<body>
<div th:replace="/layout/nav.html :: fragment-nav"></div>
<!--이름으로 고객 정보 조회 폼-->
<div class="m-2"></div>
<div class="container justify-content-center">

    <form action="/customer/name" method="post">
        이름: <input type="text" name="name" />
        <button type="submit">조회</button>
    </form>
</div>

<footer th:replace="/layout/footer.html :: fragment-footer"></footer>

</body>

</html>